@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    height: 80px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
    width: 100%;
    z-index: 1;
}
#myNavbar{
    background-color: #ffff;
}
.navbar-brand img{
    max-width: 120px;
    height: auto;
}
.img-profile img{
    width: 50px;
}
.nav-item a{
    color: #8C8C8C;
    font-weight: 700;
    text-decoration: none;
}
.nav-item a.active-page{
    color: #52C41A;
}
.nav-item a:hover{
    color: #52C41A;
}
.myContainer {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
    justify-content: space-evenly;
}
#header-page, .detail-prod {
    display: flex;
    gap: 12px;
    align-items: center;
}
#header-page i {
    color:#52C41A;
    font-size: x-large;
}
.detail-prod {
    color: #8C8C8C;
    font-size: large;
    cursor: pointer;
}
.actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}
#sell {
    width: 100%;
    text-align: center;
    background-color: #52C41A;
    border: 1px solid #52C41A;
    color: white;
}
#term {
    width: 100%;
    background-color: white;
    border: 1px solid #52C41A;
    color: #52C41A;
}
.container-card {
    display: flex;
    width: 100%;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
}
.product-wrap {
    width: 16rem;
}
.product-wrap img {
    height: 192px;
    object-fit:cover;
}
.product-wrap:hover{
    border: 1px solid #52C41A;
}
.counter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter button {
    width: 28px;
    border-radius: 30%;
    padding: 2px;
    font-weight: bold;
}
.count {
    width: 40%;
    text-align: center;
    margin: 0 5px;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #c7c7c7;
    appearance: textfield;
}
.count input::-webkit-outer-spin-button,
.count input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#decrement {
    background-color: #c7c7c7;
}
#increment {
    background-color: #a1e268;
}
.product-detail {
    width: 100%;
}
.coin-tag {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 24px;
    font-weight: bold;
    color: #52C41A;
}
.coin-tag p, .coin-tag i {
    font-size: larger;
    margin:0;
}
.buttons {
    margin-left: auto;
    display: flex;
    gap: 12px
}
#sellNow, #cart {
    padding: 8px 16px;
    border-radius: 12px;
    font-weight: bold;
}
#sellNow {
    background-color: #52C41A;
    border: 1px solid #52C41A;
    color: white;
}
#cart {
    border: 1px solid #52C41A;
    color: #52C41A;
}
#sellNow:hover {
    background-color: #53c41abe;
}
#cart:hover {
    border: 1px solid #53c41abe;
}
#detail-img img {
    height: 100%;
}
#bag-icon {
    position: sticky;
    margin-left: auto;
    bottom: 20px;
}
.bag-icon {
    display:flex;
    width: fit-content;
    height: auto;
    padding: 16px;
    align-items: center;
    gap: 12px;
    border-radius: 50px;
    background: #52C41A;
    text-decoration: none;
}
.bag-icon i {
    font-size: 24px;
    color: white;
}
.bag-icon #count-item{
    color: white;
    display: none;
}
#order-img img {
    height: 168px;
    object-fit: fill;
}
#order-img {
    width: fit-content;
}
.order-detail-wrap {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    /* border: 1px dashed black; */
    height: 100%;
}
.order-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.coin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.order-detail-wrap p {
    margin-bottom: 0;
}
.status-tag {
    padding: 8px;
    background-color: #52C41A;
    border-radius: 16px;
    color: white;
}
@media screen and (max-width: 992px) {
    .myContainer {
        width: 100%;
        padding: 40px;
    }
    .product-wrap {
        width: 12rem;
    }
    .card-title.product-title, .card-text {
        font-size:medium;
    }
    .btn, .counter {
        font-size: small;
    }
    .product-detail {
        width: 100%;
    }
}
@media screen and (max-width: 578px) {
    .myContainer {
        width: 100%;
        padding: 20px;
    }
    .product-wrap {
        width: 10rem;
    }
    .card-title.product-title, .card-text {
        font-size: 14px;
    }
}