@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    height: 80px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
    width: 100%;
    z-index: 1;
}
#myNavbar{
    background-color: #ffff;
}
.navbar-brand img{
    max-width: 120px;
    height: auto;
}
.img-profile img{
    width: 50px;
}
.nav-item a{
    color: #8C8C8C;
    font-weight: 700;
    text-decoration: none;
}
.nav-item a:hover{
    color: #52C41A;
}
.myContainer {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
    justify-content: space-evenly;
    align-items: flex-start;
}
#header-page {
    display: flex;
}
.pickup-info {
    display: flex;
    width: 100%;
    justify-content:space-between;
    align-self: stretch;
    gap: 36px;

}
.pickup-user-address, .pickup-date-time {
    flex-basis: 50%;
    width: 100%;
    gap: 12px;
}
#pickup-address-detail, #pickup-date, #pickup-time{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #8C8C8C;
    border-radius: 12px;
    padding: 20px;
}
.icon-detail {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
#pin-icon {
    font-size:xx-large;
}
#address-detail {
    flex-basis: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#address-tag {
    background-color: #8C8C8C;
    width: max-content;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: small;
    color: white;
}
#times {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* #time {
    padding: 8px 20px;
    border: 1px solid #8C8C8C;
    font-weight:bolder;
    border-radius: 8px;
    cursor: pointer;
} */
#time:hover{
    background-color: #52C41A;
    border: 1px solid #52C41A;
    color: white;
}
.buttons {
    margin-left: auto;
    display: flex;
    gap: 12px
}
#pikcupButton, #backButton, #timeBtn {
    padding: 8px 16px;
    border-radius: 12px;
    font-weight: bold;
}
#pikcupButton, #timeBtn:hover {
    background-color: #52C41A;
    border: 1px solid #52C41A;
    color: white;
}
#backButton {
    border: 1px solid #52C41A;
    color: #52C41A;
}
#timeBtn {
    border: 1px solid #8C8C8C;
}
#pikcupButton:hover {
    background-color: #53c41abe;
}
#backButton:hover {
    border: 1px solid #53c41abe;
}
@media screen and (max-width: 578px) {
    nav {
        padding: 0 40px;
    }
    .myContainer {
        width: 100%;
        padding: 40px;
    }
    .pickup-info {
        flex-direction: column;
        gap: 0;
    }
}