@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
/* Navbar */
nav{
  height: 80px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #ffff;
  justify-content: space-evenly;
}
#myNavbar {
  background-color: #ffff;
}
.navbar-brand img{
  max-width: 120px;
  height: auto;
}
.img-profile img{
  width: 48px;
}
.nav-item a{
  color: #8C8C8C;
  font-weight: 700;
  text-decoration: none;
}
.nav-item a:hover, .navbar-nav li.active a {
  color: #52C41A;
}
#header-page, .detail-prod {
  display: flex;
  gap: 12px;
  align-items: center;
}
#header-page i {
  color:#52C41A;
  font-size: x-large;
}
.detail-prod {
  color: #8C8C8C;
  font-size: large;
  cursor: pointer;
}
/* Navbar end */
/* menu-4 */
.menu-4 {
  margin-bottom: 10px;
}
.menu-4 a {
  text-decoration: none;
  color: #8dc149;
  margin-right: 20px;
}
.menu-4 a:hover {
  text-decoration: none;
  color: #5b7d2e;
  margin-right: 20px;
}
/* menu-4 */
/* table start */
.container-tabel {
  margin-top: 100px;
}
span.status-process {
  display: inline-block;
  background-color: #ffd666;
  padding: 5px 10px;
  border-radius: 16px;
}
span.status-success {
  display: inline-block;
  background-color: #8dc149;
  padding: 5px 10px;
  border-radius: 16px;
}
span.status-failed {
  display: inline-block;
  background-color: #f5222d;
  padding: 5px 10px;
  border-radius: 16px;
}
a.cek-detail {
  text-decoration: none;
  color: black;
  display: inline-block;
  background-color: #ffd666;
  padding: 5px 10px;
  border-radius: 16px;
}
a.cek-detail:hover {
  background-color: #eeb826;
}
/* table end */
/* max width 576 */
@media screen and (max-width: 992px) {
  .container,
  .container-md,
  .container-sm {
      max-width: 100%;
  }
  #myNavbar {
      justify-content: center;
      padding: 0 40px;
  }
  .navbar-collapse {
      padding-bottom: 20px;
  }
  .navbar-toggler {
      position: absolute;
      right: 20px;
  }
}
@media screen and (max-width: 578px) {
  #myNavbar {
      justify-content: center;
  }
  .navbar-collapse {
      padding-bottom: 20px;
  }
  .navbar-toggler {
      position: absolute;
      right: 20px;
  }
  .counter span {
    margin-left: 0px;
    margin-right: 0px;
    /* font-size: smaller; */
  }
}