@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
/* navbar start*/
/* nav {
  height: 70px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.navbar-brand img {
  width: 120px;
}
.img-profile img {
  width: 50px;
}
.nav-item a {
  color: #8dc149;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
}
.nav-item a:hover {
  color: #5b7d2e;
} */
/* navbar end */
/* Navbar */
nav {
  height: 70px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 2;
  background-color: #ffff;
}
#navbar-1 {
  top: 0;
}
.navbar-brand img {
  max-width: 120px;
  height: auto;
}
.img-profile img {
  width: 50px;
}
.nav-item a {
  color: #8dc149;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
}
.nav-item a:hover {
  color: #5b7d2e;
}
/* Navbar end */
/* table start */
.container-tabel {
  margin-top: 100px;
}
.container-tabel .title-table {
  margin-bottom: 20px;
}
.container-tabel .title-table img {
  width: 50px;
  margin-right: 10px;
}
.container-tabel .title-table span {
  font-size: 20px;
  font-weight: bold;
}

thead {
  background-color: #52c41a;
  color: white;
}
/* table end */
/* image in table */
img {
  width: 80px;
}
/* image in table */

/* Button + - */
span.counter {
  margin-left: 10%;
  margin-right: 10%;
}

.decrement-button,
.increment-button {
  border: none;
  text-decoration: none;
  border-radius: 50%;
  background-color: #d9f7be;
}
/* button + - end */

/* checkout */
.checkoutBarang nav {
  background-color: #d9f7be;
  height: 100px;
  padding-right: 10%;
  padding-left: 10%;
  /* box-shadow: inset 0px 7px 3px -3px rgba(50, 50, 50, 0.75); */
  border-top: 1px #5b7d2e solid;
}
/* checkout */

/* responsive max 576px */
@media (max-width: 576px) {
  .counter span {
    margin-left: 0px;
    margin-right: 0px;
  }
  .counter button {
    size: 13px;
  }
  .checkoutBarang nav {
    background-color: #d9f7be;
    height: 100px;
    padding-right: 0%;
    padding-left: 0%;
  }
}
